<ng-container *ngIf="recipe">
  <form [formGroup]="form" (submit)="updateRecipe()">
    <div class="header">
      <h2 *ngIf="!editMode">{{ recipe!.title }}</h2>
      <mat-form-field *ngIf="editMode" class="title-input">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" required>
        <mat-error *ngIf="form.controls.title.touched && form.controls.title.invalid">
          <span *ngIf="form.controls.title.errors?.required">This field is mandatory</span>
          <span *ngIf="form.controls.title.errors?.server">{{ form.controls.title.errors?.server }}</span>
        </mat-error>
      </mat-form-field>
      <div *ngIf="isAuthenticated$ | async">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Recipe menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button *ngIf="editMode" mat-menu-item aria-label="Exit edit mode" (click)="toggleEdit()">
            <mat-icon>save</mat-icon>
            <span>Exit edit mode</span>
          </button>
          <button mat-menu-item aria-label="Schedule the recipe" (click)="scheduleRecipe()">
            <mat-icon>calendar_today</mat-icon>
            <span>Schedule</span>
          </button>
          <button *ngIf="!editMode" mat-menu-item aria-label="Enter edit mode" (click)="toggleEdit()">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button *ngIf="isAdministrator$ | async" mat-menu-item color="warn" aria-label="Edit the recipe" (click)="deleteRecipe()">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <hr>
    <div class="recipe" [ngClass]="{ 'handset': isHandset$ | async, 'desktop': !(isHandset$ | async)}">
      <div class="recipe-header">
        <div class="time">
          <div class="label" color="primary">Time</div>
          <div class="value">-</div>
        </div>
        <div class="quantity">
          <div class="label">Quantity</div>
          <div class="value">-</div>
        </div>
        <div class="difficulty">
          <div class="label">Difficulty</div>
          <div class="value">-</div>
        </div>
        <div class="cost">
          <div class="label">Cost</div>
          <div class="value">-</div>
        </div>
        <div *ngIf="recipe.url" class="source">
          <div class="label">Source</div>
          <div class="value"><a href="{{ recipe.url }}" target="_blank">Show original page</a></div>
        </div>
        <mat-form-field *ngIf="editMode" class="image-url-input">
          <mat-label>Image URL</mat-label>
          <input matInput formControlName="image_url">
          <mat-error *ngIf="form.controls.image_url.touched && form.controls.image_url.invalid">
            <span *ngIf="form.controls.image_url.errors?.required">This field is mandatory</span>
            <span *ngIf="form.controls.image_url.errors?.server">{{ form.controls.image_url.errors?.server }}</span>
          </mat-error>
        </mat-form-field>
        <div *ngIf="editMode" class="buttons">
          <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Update</button>
        </div>
      </div>
      <div class="recipe-ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li *ngFor="let ingredient of recipe.ingredients">
            <button *ngIf="editMode" mat-icon-button (click)="editIngredient(ingredient)">
              <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="editMode" mat-icon-button color="warn" (click)="removeIngredient(ingredient)">
              <mat-icon>delete</mat-icon>
            </button>
            <span *ngIf="ingredient.quantity">{{ ingredient.quantity }}</span>
            <span *ngIf="ingredient.unit">{{ ingredient.unit.label }}</span>
            <span *ngIf="!ingredient.quantity || ingredient.quantity <= 1 || ingredient.unit || !ingredient.ingredient.label_plural">{{ ingredient.ingredient.label }}</span>
            <span *ngIf="ingredient.quantity && ingredient.quantity > 1 && !ingredient.unit && ingredient.ingredient.label_plural">{{ ingredient.ingredient.label_plural }}</span>
            <span *ngIf="ingredient.optional">(optional)</span>
          </li>
        </ul>
        <button *ngIf="editMode" mat-flat-button (click)="addIngredient()">
          <mat-icon>add</mat-icon>
          <span>Add ingredient</span>
        </button>
      </div>
      <div class="recipe-steps">
        <h3>Preparation</h3>
        <ol cdkDropList [cdkDropListData]="recipe.steps" [cdkDropListDisabled]="!editMode" (cdkDropListDropped)="editStepOrder($event)">
          <li *ngFor="let step of recipe.steps" cdkDrag>
            <button *ngIf="editMode" mat-icon-button (click)="editStep(step)">
              <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="editMode" mat-icon-button color="warn" (click)="removeStep(step)">
              <mat-icon>delete</mat-icon>
            </button>
            <span>{{ step.content }}</span>
          </li>
        </ol>
        <button *ngIf="editMode" mat-flat-button (click)="addStep()">
          <mat-icon>add</mat-icon>
          <span>Add step</span>
        </button>
      </div>
    </div>
  </form>
</ng-container>
