@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.recipe-card {
  width: 100%;

  &-image {
    border-radius: 6px;
    overflow: hidden;
    width: 100%;

    & > img {
      width: 100%;
      height: 157px;

      @include media-breakpoint-up(lg) {
        height: 230px;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &-title {
    & > a {
      & > h4 {
        font-weight: 600;
        font-size: 1rem;
      }

      text-decoration: none;
      color: black;

      @include media-breakpoint-up(lg) {
        font-size: 1.4rem;
      }
    }
  }

  &-informations {
    color: #999;
  }

  &-actions {
    & > a, button {
      margin-right: 1em;
    }
  }
}
