// Customize here if needed
// ...

// Import bootstrap SASS
@import "~bootstrap/scss/bootstrap.scss";

// Custom properties
.authenticating-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 3rem;
  background: #fff;
  opacity: 0.8;

  @include media-breakpoint-up(lg) {
    font-size: 5rem;
  }
}
